# 03_05: Special arrays

In [1]:
import math
import collections
import dataclasses
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [2]:
discography = np.load('discography.npy')

In [3]:
discography

array([('David Bowie', '1969-11-14', 17),
       ('The Man Who Sold the World', '1970-11-04',  3),
       ('Hunky Dory', '1971-12-17',  5),
       ('Ziggy Stardust', '1972-06-16',  1),
       ('Aladdin Sane', '1973-04-13',  1), ('Pin Ups', '1973-10-19',  1),
       ('Diamond Dogs', '1974-05-24',  1),
       ('Young Americans', '1975-03-07',  2),
       ('Station To Station', '1976-01-23',  5),
       ('Low', '1977-01-14',  2), ('Heroes', '1977-10-14',  3),
       ('Lodger', '1979-05-18',  4)],
      dtype=[('title', '<U32'), ('release', '<M8[D]'), ('toprank', '<i8')])

In [4]:
print(open('discography.txt', 'r').read())

# title, release, toprank
David Bowie, 1969-11-14, 17
The Man Who Sold the World, 1970-11-04, 3
Hunky Dory, 1971-12-17, 5
Ziggy Stardust, 1972-06-16, 1
Aladdin Sane, 1973-04-13, 1
Pin Ups, 1973-10-19, 1
Diamond Dogs, 1974-05-24, 1
Young Americans, 1975-03-07, 2
Station To Station, 1976-01-23, 5
Low, 1977-01-14, 2
Heroes, 1977-10-14, 3
Lodger, 1979-05-18, 4

In [5]:
discography_txt = np.genfromtxt('discography.txt', dtype=('U32', 'M8[D]', 'i8'), delimiter=',', names=True)

In [6]:
discography_txt == discography

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [7]:
discography[0]

np.void(('David Bowie', '1969-11-14', 17), dtype=[('title', '<U32'), ('release', '<M8[D]'), ('toprank', '<i8')])

In [8]:
discography[0][0]

np.str_('David Bowie')

In [9]:
discography[0][1]

np.datetime64('1969-11-14')

In [10]:
discography[0]['title']

np.str_('David Bowie')

In [11]:
discography['title']

array(['David Bowie', 'The Man Who Sold the World', 'Hunky Dory',
       'Ziggy Stardust', 'Aladdin Sane', 'Pin Ups', 'Diamond Dogs',
       'Young Americans', 'Station To Station', 'Low', 'Heroes', 'Lodger'],
      dtype='<U32')

In [12]:
np.array([('David Bowie', '1969-11-14', 17),
          ('The Man Who Sold the World', '1970-11-04', 3)],
         dtype = [('title', 'U32'), ('release', 'M8[D]'), ('toprank', 'i8')])

array([('David Bowie', '1969-11-14', 17),
       ('The Man Who Sold the World', '1970-11-04',  3)],
      dtype=[('title', '<U32'), ('release', '<M8[D]'), ('toprank', '<i8')])

In [13]:
np.datetime64('1969')

np.datetime64('1969')

In [14]:
np.datetime64('1969-11-14')

np.datetime64('1969-11-14')

In [15]:
np.datetime64('2015-02-03 12:00')

np.datetime64('2015-02-03T12:00')

In [16]:
np.datetime64(datetime.datetime(2015, 2, 3))

np.datetime64('2015-02-03T00:00:00.000000')

In [17]:
np.datetime64(datetime.datetime(2015, 2, 3), 'D')

np.datetime64('2015-02-03')

In [18]:
np.datetime64(datetime.datetime.strptime('02/03/2015', '%m/%d/%Y'), 'D')

np.datetime64('2015-02-03')

In [19]:
np.datetime64('2015-02-03 12:00') < np.datetime64('2015-02-03 18:00')

np.True_

In [20]:
np.datetime64('2015-02-03 18:00') - np.datetime64('2015-02-03 12:00')

np.timedelta64(360,'m')

In [21]:
np.diff(discography['release'])

array([355, 408, 182, 301, 189, 217, 287, 322, 357, 273, 581],
      dtype='timedelta64[D]')

In [22]:
discography[3]

np.void(('Ziggy Stardust', '1972-06-16', 1), dtype=[('title', '<U32'), ('release', '<M8[D]'), ('toprank', '<i8')])

In [23]:
np.arange(np.datetime64('2015-02-03'), np.datetime64('2015-03-01'))

array(['2015-02-03', '2015-02-04', '2015-02-05', '2015-02-06',
       '2015-02-07', '2015-02-08', '2015-02-09', '2015-02-10',
       '2015-02-11', '2015-02-12', '2015-02-13', '2015-02-14',
       '2015-02-15', '2015-02-16', '2015-02-17', '2015-02-18',
       '2015-02-19', '2015-02-20', '2015-02-21', '2015-02-22',
       '2015-02-23', '2015-02-24', '2015-02-25', '2015-02-26',
       '2015-02-27', '2015-02-28'], dtype='datetime64[D]')